* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    background: #05070a;
}

body {
    background: radial-gradient(circle at center, rgba(0,225,180,0.3),
                rgba(180,0,225,0.2),
                #05070a 70%);
    color: white;
    height: 100vh;
}
    


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.nav-center a {
    margin: 0 15px;
    color: #aaa;
    text-decoration: none;
    transition: 0.3s;
}

.nav-center a:hover {
    color: white;
}

.nav-left {
    font-weight: bold;
    letter-spacing: 1px;
}
 
.nav-right .login {
    margin-right: 20px;
    color: #aaa;
    text-decoration: none;
}

.signup {
    padding: 8px 18px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

.logo {
    width: 260px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 25px rgba(0,255,180,0.5))
            drop-shadow(0 0 50px rgba(180,0,225,0.3));
} 

h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

p {
    color: #aaa;
    margin-bottom: 30px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.primary {
    background: linear-gradient(135deg, #00ffb4, #00cfff);
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.secondary {
    background: transparent;
    border: 1px solid #555;
    padding: 12px 25px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
