body {
    background-image: url("images/background.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: black;
    backdrop-filter: blur(5px);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #3fd6c2;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.join-btn {
    padding: 8px 14px;
    background: #3fd6c2;
    color: black;
    border-radius: 8px;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.8;
    margin-bottom: 10px;
}   

.start {
    padding: 12px 20px;
    background: #3fd6c2;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    backdrop-filter: blur(10px);
}

.cta {
   text-align: center;
   padding: 100px 20px;
}

footer {
    text-align: center;
    padding: 30px;
    opacity: 0.5
}