body {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 79, 62);
    backdrop-filter: white blur(2px);
    scrollbar-color: rgba(0, 79, 62, 0.5) transparent;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    width: 150px;
    height:auto;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 1000;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.join-btn {
    padding: 8px 14px;
    background: #3fd6c2;
    color: black;
    border-radius: 8px;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    opacity: 0.8;
    margin-bottom: 10px;
}   

.login-btn {
    padding: 12px 20px;
    background: #008472;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.join-btn {
    padding: 12px 20px;
    background: #008472;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 80px 20px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    backdrop-filter: blur(10px);
}

.cta {
   text-align: center;
   padding: 100px 20px;
}



footer {
    text-align: center;
    padding: 30px;
    opacity: 0.5
}